:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(6, 12, 24, 0.9);
;}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: #101011;
}

body::-webkit-scrollbar-thumb {
  background: #df49a6;
}

body p {
  font-family: 'Arima Madurai', cursive;
}

body h1 {
  font-family: 'Trocchi', serif;
}

.bodybg {
  position: fixed;
  z-index: 0;
  top: 0px;
  left: 0px;
  width: 100vw;
}

.bodybg .bodybgimg {
  width: 100%;
}

main {
  position: absolute;
  top: 0px;
  left: 0px;
  margin-left: 6rem;
  padding: 1rem;
  font-size: 18px;
  z-index: 2;
  background: rgba(16, 16, 19, 0.96);
}

main h1 {
  color: #df49a6;
  margin: 1rem;
}

main p {
  color: #ffffff;
  margin: 3rem;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 400ms ease;
  overflow: hidden;
  z-index: 4;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 0.5rem;
  color: #df49a6;
}

.nav-link img {
  width: 2rem;
  min-width: 2rem;
  margin:  1.5rem;
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo .rightarrow {
  transform: rotate(0deg);
  transition: var(--transition-speed);
  margin-top: 0.5rem;
  width: 4rem;
  min-width: 4rem;
}

.logo-text
{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo .rightarrow {
  transform: rotate(-180deg);
}

.navbar:hover .dblright {
  filter: grayscale(0%) opacity(0.7);
}

.navbar:not(:hover) .dblright {
  filter: grayscale(100%) opacity(1);
}

.div-container {
  margin-top: 6rem;
  margin-bottom: 8rem;
}

.archive-categories {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: flex-start;
  width: 100%;
}

button {
  min-width: 120px;
  width: 18%;
  background: rgb(251,234,0);
  background: linear-gradient(0deg, rgba(251,234,0,0.7) 0%, rgba(253,187,45,0.7) 100%);
  text-align: center;
  margin: 0.5rem;
  height: 50px;
  border-radius: 10px;
  transform: grayscale(70%);
;}

button:hover {
  background: rgb(251,234,0);
  background: linear-gradient(0deg, rgba(251,234,0,1) 0%, rgba(253,187,45,1) 100%);
  text-align: center;
  margin: 0.5rem;
  height: 50px;
  border-radius: 10px;
;}

.indiv-cat h3 {
  color: #202020;
  font-size: 1rem;
  font-family: 'Arima Madurai', cursive;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;

}

.gallery img {
  max-height: 200px;
  max-width: 90%;
  padding: 1rem;
  border: 1px rgb(255, 8, 193) solid;
  border-radius: 8px;
  margin: 1rem;
  background: rgba(10, 11, 17, 0.9);
}

.gallery img:hover {
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 1;
  transform: scale(1.4);
  -ms-transform: scale(1.4); /* IE 9 */
  -webkit-transform: scale(1.4); /* Safari and Chrome */
}


#ABTID {
  background: rgba(38,1,20,0.1);
  background: linear-gradient(0deg, rgba(38,1,20,0.1) 0%, rgba(37, 1, 20, 0.5) 56%, rgba(41, 0, 26, 0.8) 100%);
  padding: 16px;
  border-radius: 20px;
}

#COMID {
  background: rgba(3, 11, 24, 0.1);
  background: linear-gradient(0deg, rgba(18, 22, 47, 0.2) 0%, rgba(3, 12, 31, 0.8) 56%, rgba(0, 10, 22, 0.4) 100%);
  padding: 16px;
  border-radius: 20px;
}

.commissions-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.commissions-menu p {
  color: black;
  font-weight: 700;
  font-size: 20px;
}

.commissions-menu .commission-option {
  background: rgb(251,234,0);
  background: linear-gradient(0deg, rgba(251,234,0,0.1) 0%, rgba(253,187,45,1) 50%, rgba(253,187,45,1) 100%);
  border-radius: 20px;
  height: 500px;
  width: 30%;
  margin: 0.5rem;
}

#smallcom {
  background-image: url("./assets/bodyprojectthumb.png");
  background-size: cover;
}

#medcom {
  background-image: url("./assets/commishbradthumb.png");
  background-size: cover;
}

#largecom {
  background-image: url("./assets/morningthumb.png");
  background-size: cover;
}

.commissions-menu .commission-option h1 {
  font-size: 32px;
  color: black;
  text-align: center;
}

#CONID {
  background: rgba(10, 11, 17, 0.9);
  padding: 16px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

#CONID p {
  width: 140px;
}

.linkcontainer {
  display: flex;
  flex-direction: column;
}

.contact-link {
  margin-top: 1rem;
}

.contact-link a {
  display: flex;
  flex-direction: row;

  height: 100%;
  text-emphasis: none;
  text-decoration: none;
  border-bottom: none;
}

.contact-link p {
  position: relative;
  bottom: 30px;
}

.tlink {
  margin-top: 0px;
  margin-left: 1rem;
  position: relative;
  left: 4rem;
}

.contact-link .link-icon {
  width: 46px;
  height: 46px;
  margin-right: 1rem;
}

.contact-link .ig-icon {
  width: 60px;
  height: 55px;
  position: relative;
  right: 10px;
}

.contact-link .disc-icon {
  width: 60px;
  height: 60px;
  position: relative;
  right: 10px;
}


/* Small screens */
@media only screen and (max-width: 600px) {
  .body {
    width: 100vw;
  }

  .navbar {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 5rem;
    border-top: 2px rgb(255, 233, 111) solid;
  }

  .bodybg {
    width: 100%;
  }

  main {
    width: 100vw;
  }

  main h1 {
    margin: 0.25rem;
  }

  main p {
    margin: 2rem 1rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .nav-item {
    width: 18%;
  }

  main {
    margin: 0;
  }

  .div-container {
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  .gallery {
    justify-content: center;
  }

  .gallery img {
    max-height: 400px;
    max-width: 90%;
    padding: 0.5rem;
    border: 1px rgb(255, 8, 193) solid;
    border-radius: 8px;
    margin: 1rem;
    background: rgba(10, 11, 17, 0.9);
  }
  

  .commissions-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .commissions-menu .commission-option {
    background: rgba(251,234,0,0.8);
    background: linear-gradient(0deg, rgba(251,234,0,0.1) 0%, rgba(253,187,45,0.5) 50%, rgba(253,187,45,0.8) 100%);
    border-radius: 16px;
    height: 300px;
    width: 80%;
    margin: 1rem;
  }


  #CONID {
    background: rgba(6, 12, 24, 0.85);
    padding: auto;
    border-radius: 10px;
    margin-bottom: 6rem;
    width: 100vw;
  }

  #CONID .contact-notes {
    margin-left: 2rem;
    width: 80%;
  }

  
  #CONID .contact-notes p {
    width: 80%;
  }
  
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 6rem;
    height: 100vh;
    border-right: 2px rgb(255, 233, 111) solid;
  }

  .navbar:hover {
    width: 14rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo .rightarrow
  {
    margin-left: 5rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }

	.linkcontainer {
 		display: flex;
  	flex-direction: column;
		margin-left: 1rem;
	}

}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #000000;
  --bg-secondary: #000000;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #000000;
  --bg-secondary: rgb(0, 0, 0);
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}
